name: Continuous Integration

on: [push, pull_request]

jobs:
  build:
    name: ${{ matrix.config.name }}
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        config:
        - {
            name: "Visual Studio 64-bit ${{ matrix.config.configuration }}",
            configuration: "Release",
            platform: "x64"
          }
        - {
            name: "Visual Studio 32-bit ${{ matrix.config.configuration }}",
            configuration: "Release",
            platform: "x86"
          }

    steps:
    - uses: actions/checkout@v1

    - name: Build
      run: |
        $vswhere = "${env:ProgramFiles(x86)}\Microsoft Visual Studio\Installer\vswhere.exe"
        $msbuild = & "$vswhere" -latest -requires Microsoft.Component.MSBuild -find MSBuild\**\Bin\MSBuild.exe | select-object -first 1
        $options = @( `
          '-p:Configuration=${{ matrix.config.configuration }}', `
          '-p:Platform=${{ matrix.config.platform }}', `
          '-p:WindowsTargetPlatformVersion=10.0', `
          '-p:PlatformToolset=v142', `
          '-m', `
          '-v:minimal' `
        )
        & $msbuild Builder.sln $options
        & $msbuild Source\Tools\Updater\Updater.csproj $options

    # - name: Test
    #   run: |
    #     ....

    - name: Prepare Package
      run: |
        Remove-Item Build\Setup -recurse

    - name: Upload Package
      uses: actions/upload-artifact@v1
      with:
        path: Build
        name: "${{ matrix.config.name }}"
