name: Continuous Integration

on: [push, pull_request]

jobs:
  build:
    name: ${{ matrix.config.name }}
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        config:
        - {
            name: "Visual Studio 64-bit",
            configuration: "Release",
            platform: "x64"
          }
        - {
            name: "Visual Studio 32-bit",
            configuration: "Release",
            platform: "x86"
          }

    steps:
    - uses: actions/checkout@v1

    # - name: Compile Updater
    #   # shell: cmd
    #   run: |
    #     $vswhere = "${env:ProgramFiles(x86)}\Microsoft Visual Studio\Installer\vswhere.exe"
    #     $msbuild = & "$vswhere" -latest -requires Microsoft.Component.MSBuild -find MSBuild\**\Bin\MSBuild.exe | select-object -first 1
    #     & $msbuild Source/Tools/Updater/Updater.csproj -p:Configuration=${{ matrix.config.configuration }} -p:Platform=${{ matrix.config.platform }} -v:minimal

    # - name: Install SDK
    #   run: |
    #     Start-Process "C:\Program Files (x86)\Microsoft Visual Studio\Installer\vs_installer.exe" `
    #      -ArgumentList @('modify', '--installPath', 'C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise', `
    #      '--add', 'Microsoft.VisualStudio.Component.Windows81SDK', '--passive', '--norestart') -Wait

    - name: Build
      # shell: cmd
      run: |
        $vswhere = "${env:ProgramFiles(x86)}\Microsoft Visual Studio\Installer\vswhere.exe"
        $msbuild = & "$vswhere" -latest -requires Microsoft.Component.MSBuild -find MSBuild\**\Bin\MSBuild.exe | select-object -first 1
        $options = @('-m', '-p:Configuration=Release', '-p:Platform=x64', '-p:PlatformToolset=v142', '-p:WindowsTargetPlatformVersion=10.0', '-v:minimal')
        & $msbuild Builder.sln $options
        & $msbuild Source\Tools\Updater\Updater.csproj $options

    - name: Prepare Package
      run: |
        Remove-Item Build\Setup -recurse

    - name: Upload Package
      uses: actions/upload-artifact@v1
      with:
        path: Build
        name: "${{ matrix.config.name }}"
